<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<nav>
		<ol>
			<li><a th:href="@{/dashboard}">Dashboard</a></li>
			<li><a href="/add">Addition Service</a></li>
			<li><a href="/sub">Substraction Service</a></li>
			<li><a href="/mul">Multiplication Service</a></li>
			<li><a href="/div">Divide Service</a></li>
	
		</ol>
	</nav>
<div class="container">
	<h2>Consuming SOAP Multiply Service In REST</h2>
	<div th:if="${status}==200" class="alert alert-success scs" role="alert">
	    <span>Multiply of <span th:text="${firstNumber}"></span> and <span th:text="${secondNumber}"></span> is <span th:text="${result}"></span></span>
	</div>
	<div th:if="${status}==200" class="alert alert-success scs" role="alert">
		    <span>Response : <span class="response-text" th:text="${response}"></span></span>
		</div> <br>
	<form action="/multiply">
		
		  <label  for="firstNumber">First Number:</label>
		  <input  type="number" id="firstNumber" name="firstNumber"><br><br>
		  
		  <label  for="secondNumber">Second Number:</label>
		  <input  type="number" id="secondNumber" name="secondNumber"><br><br>
		  
		  <input  type="submit" value="Calculate">
		  
		  
	</form>
	
</div>
<th:block layout:fragment="scripts">
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/calculator_view.css}" />
</th:block>
</body>
</html>